<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../{{ ctx.project_id }}.js" type="text/javascript"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png"/>
    <title>Inspirit AI Projects Catalog</title>
    <script>
    
    </script>
</head>
<body>
  {% include "src/html/components/navbar.html" %}
  <div class="header-offset">
    <div class="header-container d-flex flex-column justify-content-end text-white p-3">
      <a class="nav-link mb-2" style="width:fit-content" href="../index.html">
        <div class="d-flex align-items-start backArrowContainer">
          <img width="25px" height="25px" src="../assets/images/arrow.png" class="backArrow">
          <div class="font-secondary ms-2 mb-0 mt-1 h5 text-decoration-none">Back To Projects</div>
        </div>
      </a>
      <div class="display-6 font-primary">
        {{ctx.project_title}}
      </div>
      <div class="d-flex w-100 align-items-center">
        <div class="profile_image" style="background:url('../{{ ctx.student_image }}') center 50% / cover no-repeat"></div>
        <div class="text-white font-secondary h5 m-0 ps-3 pt-2">
          {{ ctx.student_name }} 
          {% if ctx.project_yr %}
            | {{ ctx.project_quarter }} {{ ctx.project_yr }} 
          {% endif %}
        </div>
      </div>
    </div>
    <div class="projectBody">
      <img class="projectGraphic float-right m-4 mb-2" src="{{ ctx.graphic_link }}" alt=""/>
      <p class="p-4 h5 font-secondary projectDesc" style="text-align: justify;">{{ ctx.headline }}</p>
      <hr class="projectDivider ms-4 w-50"/>
      <p class="p-4" style="text-align: justify;">{{ ctx.project_desc }}</p>
      {% if ctx.github or ctx.research_paper or ctx.project_webpage %}
        <div class="text-dark p-4">
          <p class="h4 font-secondary title-black"> Explore More!</p>
          <div class="d-flex flex-wrap">
            {% if ctx.research_paper %}
              <button type="button" class="position-relative me-3 mb-3 text-decoration-none research_button">
                <div class="unclosedButton d-flex">
                  Research Paper
                  <img class="externalLink" src="../assets/images/external_link.svg">
                </div>
              </button>
            {% endif %}
            {% if ctx.github %}
              <div onclick="window.open('{{ ctx.github }}', '_blank').focus();" class="position-relative me-3 mb-3 text-decoration-none cursor-p">
                <div class="unclosedButton d-flex">
                  Source Code
                  <img class="externalLink" src="../assets/images/external_link.svg">
                </div>
              </div>
            {% endif %}
            {% if ctx.project_webpage %}
              <div onclick="window.open('{{ ctx.project_webpage }}', '_blank').focus();" class="position-relative me-3 mb-3 text-decoration-none cursor-p">
                <div class="unclosedButton d-flex">
                  Project Webpage
                  <img class="externalLink" src="../assets/images/external_link.svg">
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>    
    <div class="involedPeople p-4">
      <div class="d-flex">
        <div class="profile_image largerProfile" style="background:url('../{{ ctx.student_image }}') center 50% / cover no-repeat"></div>
        <div class="d-flex flex-column justify-content-center">
          <div class="h4 text-white font-secondary ms-3">{{ ctx.student_name }}</div>
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="profile_image largerProfile" style="background:url(../{{ ctx.mentor_image }}) center 50% / cover no-repeat"></div>
        <div class="d-flex flex-column justify-content-center align-items-end">
          <div class="h4 text-white font-secondary me-3">{{ ctx.mentor_name }}</div>
          <div class="h5 text-white font-secondary me-3">{{ ctx.mentor_title }}</div>
        </div>
      </div>
    </div>
    <p class="h2 font-primary text-center blackTitle m-5">Related Projects</p>
    <div class="row g-0 px-3">
      {% for project in ctx.related_proj %}
        <div class="col-12 col-md-6 col-lg-4 p-2 projectContainer" onclick="window.location='{{ project.project_id }}.html';">
        <div class="projectSubContainer">
            <div class="projectImage" style="background:url('{{ project.graphic_link }}') center 50% / cover no-repeat">
              <div class="contentContainer w-100 h-100 d-flex flex-column justify-content-end p-3" >
                <div class="hoverContainer">
                  <div class="projectTitle text-white font-secondary h2 m-0">
                    {{ project.project_title }}
                  </div>
                  <hr class="contentDivider mx-auto my-2"/>
                  <div class="projectHeadline text-white font-text m-0">
                    {{ project.headline }}
                  </div>
                </div>
                <div class="d-flex w-100 align-items-center">
                  <div class="profile_image" style="background:url('../{{ project.student_image }}') center 50% / cover no-repeat"></div>
                  <div class="text-white font-secondary h5 m-0 ps-3 pt-2">
                    {{ project.student_name }} 
                    {% if project.project_yr %}
                      | {{ project.project_quarter }} {{ project.project_yr }} 
                    {% endif %}
                  </div>
                </div>
                <div class="d-flex w-100 justify-content-between align-items-center mentorImage">
                  <div class="d-flex align-items-center">
                    <div class="profile_image" style="background:url('../{{ project.mentor_image }}') center 50% / cover no-repeat"></div>
                    <div class="text-white font-secondary h5 m-0 ps-3 pt-2">
                      Mentored by {{ project.mentor_name }} 
                    </div>
                  </div>
                  <img width="25px" height="25px" src="../assets/images/arrow.png" class="backArrowRelated me-2">
                </div>
              </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mt-5">
      {% include "src/html/components/footer.html" %}
    </div>
  </div>  

  <div class="pdfModal d-flex justify-content-center align-items-center">
      <div class="modal-container w-80 h-80 p-3">
        <div class="modal-header">
          <h5 class="modal-title h3 font-secondary">Research Paper</h5>
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr/>
        <div class="modal-body h-85">
          <iframe class="w-100 h-100"src="../{{ ctx.research_paper }}#toolbar=0"></iframe>
        </div>
      </div>
  </div>
</body>
</html>