<div class="footer">
  <div class="row no-gutters text-white align-items-start justify-content-center w-90 m-0 m-auto pt-4 pb-5">
    <div class="d-flex col-12 col-sm-7 col-lg-4 pt-5 justify-content-center justify-content-sm-start">
      <img width="250px" src={{ "../assets/images/logo.png" if isProject else 'assets/images/logo.png'}} />
    </div>
    <div class="col-6 col-sm-3 col-lg-2 text-right d-flex justify-content-center justify-content-sm-start pt-5">
      <div class="w-fit">
        <p class="font-secondary h4">About Inspirit AI</p>
        <a class="footer-nav-link font-text" href="https://www.inspiritai.com/">Home</a>
        <a class="footer-nav-link font-text" href="https://www.inspiritai.com/team">Team</a>
        <a class="footer-nav-link font-text" href="https://www.inspiritai.com/our-impact">Impact</a>
      </div>
    </div>
    <div class="col-6 col-sm-2 col-lg-2 text-right d-flex justify-content-center justify-content-sm-end justify-content-lg-start pt-5">
      <div class="w-fit">
        <p class="font-secondary h4">Programs</p>
        <a class="footer-nav-link font-text" href="https://www.inspiritai.com/liveonline">Live Online</a>
        <a class="footer-nav-link font-text" href="https://www.inspiritai.com/contact">Learn More</a>
        <a class="footer-nav-link font-text" href="https://inspiritai.typeform.com/to/yq7Al8WT">Apply Now</a>
      </div>
    </div>
    <div class=" col-12 col-lg-4 text-right pt-5">
      <p class="font-secondary h4">Join Our Mailing List</p>
      <p class="font-text">Stay up to date with all things Inspirit AI!</p>
      <div class="d-flex justify-content-end">
        <input class="w-70 footer-input pr-2 mr-4 text-right font-text" placeholder="example@gmail.com" type="text" name="email">
        <a class="pl-0 button-primary-bordered footer-button font-secondary">
          Subscribe
        </a>
      </div> 
    </div>
  </div>
  <hr class="w-90 footer-divider m-auto mt-4 mb-2"/>
  <div class="row no-gutters text-white w-90 justify-content-between m-auto">
    <p class="col-lg-7 font-text">© 2022 Inspirit AI. All Rights Reserved.</p>
    <p class="col-lg-5 text-lg-right font-text">
      <a href="">Terms and conditions</a> |
      <a href="">Refund policy</a> |
      <a href="">Privacy policy</a>
    </p>    
  </div>
</div>