<nav class="navbar navbar-expand-md p-4 pe-5">
  <a class="navbar-brand" href="https://www.inspiritai.com"><img class="nav-logo" src={{ '../assets/images/logo.png' if isProject else 'assets/images/logo.png'}}></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.inspiritai.com/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.inspiritai.com/team">Team</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://www.inspiritai.com/liveonline" id="liveOnlineDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Live Online
        </a>
        <div class="dropdown-menu" aria-labelledby="liveOnlineDropdown">
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/liveonline">Program Overview</a>
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/project">Projects</a>
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/ai-research-program">Returning Students</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://www.inspiritai.com/our-impact" id="impactDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Impact
        </a>
        <div class="dropdown-menu" aria-labelledby="impactDropdown">
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/our-impact">Our Impact</a>
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/schools">School Partners</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://www.inspiritai.com/contact" id="learnMoreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Learn More
        </a>
        <div class="dropdown-menu" aria-labelledby="learnMoreDropdown">
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/contact">Contact</a>
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/frequently-asked-questions">Frequently Asked Questions</a>
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/blogs/ai-blog">Inspirit AI Team Blog</a>
          <a class="dropdown-item text-dark font-secondary" href="https://www.inspiritai.com/blogs/ai-student-blog">Student Alumni Blog</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://independent-mentorship.paperform.co/">Apply Now</a>
      </li>
    </ul>
  </div>
</nav>