@import "bootstrap";

@font-face {
    font-family: 'FatFrank';
    src: url("../assets/fonts/FatFrank-Regular.otf") format('opentype'),
         url("../assets/fonts/FatFrank-Regular.ttf")  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Condensed';
    src: url("../assets/fonts/DIN Condensed Bold.ttf") format('truetype'),
         url("../assets/fonts/DIN Condensed Bold.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../assets/fonts/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}



@for $i from 0 through 20 {
  .w-#{$i * 5} {
    width: #{$i * 5%} !important;
  }
  .h-#{$i * 5} {
    height: #{$i * 5%} !important;
  }
}

.nav-link, a, h1, h2, h3, h4, h5, h6 {
    color: white !important;
}

.font-primary {
    font-family: "FatFrank", sans-serif !important;
}

.font-secondary {
    font-family: "DIN Condensed" !important;
}

.font-text {
    font-family: "Open Sans";
}

.title-black{
    color: black !important;
}

.cursor-p{
    cursor: pointer !important;
}

html {

}

body{
    height:100vh;
    width: 100%;
}

nav{
    z-index:1
}

.nav-logo{
    height: auto;
    width:200px;
    max-height: 10%;
}

.nav-link{
    font-family: 'DIN Condensed';
    font-weight: 300;
    font-size: 22px;
    transition-duration: 0.2s;

    &:hover {
        color:#d0d0d0 !important;
    }
}

.dropdown-menu{
    border:none;
    background-color: #131516;
    border-radius: 0;
    font-size: 20px !important;

    & > .dropdown-item{
        color:rgba(255,255,255,.4) !important;
        background-color:unset !important;
        transition-duration: 0.2s;

        &:hover{
            color: white !important;
            background-color:unset !important;
        }
    }
}

.ribbonInfoContainer {
    padding-top: 2%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;

    .ribbonInfoIcon {
        padding: 0 0.1rem 0.25rem; 
        font-size: 22px;
    }
}

.profile_image{
    height: auto;
    border-radius: 50%;
    width:45px;
    height:45px;
    min-width: 45px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D4D4D4;
  opacity: 1; /* Firefox */
}

.projectContainer{
    height: 45vh;
    transition: padding 0.2s ;
    pointer-events: none;
    min-height: 300px;
    max-height: 600px;
    cursor: pointer;
    flex-grow: 1;

    &:hover {
        padding:0.25rem !important;
    }

    .projectSubContainer{
        height: calc(100% - 1rem);
        width: calc(100% - 1rem);
        transition: all 0.9s;
        transition: height 0.2s, width 0.2s;
        pointer-events: auto;

        &:hover {
            height: calc(100% - 0.5rem);
            width: calc(100% - 0.5rem);
        }

        /* Tooltip container */
        .ribbonTooltip {
            float: left;
            z-index: 90;
            position: relative;
            color: #fff;
            height: 15%;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            font-family: 'DIN Condensed';

            .ribbonIcon {
                font-size: 2rem;
                padding-bottom: 2%;
            }

            .ribbonTooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            z-index: 100;

            /* Position the tooltip text */
            position: absolute;
            z-index: 120;

                &:hover {
                    visibility: visible;
                }
            }

            &:hover {
                visibility: visible;
            }

            .ribbonTooltiptext:hover {
                visibility: visible;
            }
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        &:hover > .projectContainer > .projectSubContainer > .ribbonTooltip > .ribbonTooltiptext {
            visibility: visible;
        }

        .projectImage{
            box-shadow: 0 0 6px 3px rgba(0,0,0, 0.2);
            cursor: pointer;
            width: inherit;
            height: inherit;
            z-index: -2;
            position:absolute;
            transition: background .5s;
            &:before{
                z-index: -1;
                content: "";
                position:absolute;
                height: 100%;
                width: 100%;
                background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0, 1));
                opacity: 0.4;
                transition: opacity .5s;
            }
        }

        &:hover > .projectImage:before{
            opacity: 1;
        }

        &:hover > .projectImage > .contentContainer > .hoverContainer{
            flex: 1;
        }

        &:hover > .projectImage > .contentContainer > .hoverContainer > .projectTitle{
            font-size: 1.9rem;
        }

        @media only screen and (max-width: 700px) {
            &:hover > .projectImage > .contentContainer > .hoverContainer > .projectTitle{
                font-size: 1.5rem;
            }
        }

        &:hover > .projectImage > .contentContainer > .hoverContainer > .contentDivider{
            opacity: 1;
            border-top: 3px solid white;
        }
         &:hover > .projectImage > .contentContainer > .hoverContainer > .projectHeadline{
            opacity: 1;
            height: auto;
        }
        &:hover > .projectImage > .contentContainer > .mentorImage{
            opacity: 1;
            height: 50px;
            margin-top: 1rem;
        }
    }
}

.projectTitle{
    transition: all .5s;
    // transition-delay: 0.1s
}

.hoverContainer{
    flex: 0;
    transition: flex .5s;
}

.contentDivider{
    border-top: none;
    width:80%;
    opacity: 0;
    transition: opacity .5s, border-top 0.5s;
}

.projectHeadline{
    opacity: 0;
    height:0px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: height .5s, opacity 0.5s;
}

.mentorImage{
    opacity: 0;
    height: 0px;
    transition: margin-top 0.5s, height .5s, opacity 0.5s;
}

.contentContainer {
    z-index:3
}

.dropdown-toggle:after{
    border: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

.footer {
  background-color: #1a1a1a;
  min-height:50vh;

  .footer-divider {
    border-top: 2px solid rgb(255, 255, 255);

  }
  .footer-nav-link {
    padding: 0 !important;
    margin: 0 !important;
    color: white ;
    text-decoration: none !important;
    display: block !important;
    transition-duration: 0.1s;

    &:hover {
      color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  .footer-button {
    min-width: 120px;
    font-size: 1.25rem;
    height: 34px;
    padding-top: 0.15rem;

  }

  .footer-input {
    height: 34px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    box-shadow: 0px 1px white;
    transition-duration: 0.2s;
    &:focus{
      outline: none;
      box-shadow: 0px 3px white;
    }
  }
}

.button-primary-bordered {
  font-family: "DIN Condensed", sans-serif !important; 
  cursor: pointer;
  transition-duration: 0.2s;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  color: white;
  font-size: 1.75rem;
  padding-top: 0.25rem;
  min-width: 275px;
  max-width: 500px;
  line-height: 1.5;
  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black !important;
    text-decoration: none !important;
  }
}