@import "base.scss";


.background-container {
    background: linear-gradient(340deg, #A7FFF6, #2E5EAA);
    position: absolute;
    height: 85vh;
    width: 100%;
    z-index:-2;
    min-height: 600px;
}

.hero-container {
    position:relative;
    padding-top:116.8px;
    width: 100%;
    top: -116.8px;
    bottom:0px;
}

#searchContainer{
}

@include media-breakpoint-up(sm) { 
    .searchSubContainer{
        width: 100% !important;
    }
}

.searchSubContainer{
    width: unset;
    max-width: 1200px;
    &:before{
        content: url("assets/images/search_icon.svg");
        width:60px;
        height: auto;
        position:absolute;
        left:0px;
        top:4px;
        z-index:1
    }
    &:after{
        content: "";
        position:absolute;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
        right:20px;
        top:30px;
    }
}

.searchBarContainer{
    min-width: 200px;
    width: calc(75% - 4px);
    position: relative;
}

#searchBar {
    background-color: rgba(0,0,0, 0.2);
    border: 2px solid white;
    color: white;
    padding-left: 4rem !important;
    min-width: 200px;
    width: 100%;
    outline: 0;
    font-size: 1.5rem;
}

#searchCategories{
    position:relative;
    padding-right: 2.5rem !important;
    background-color: rgba(0,0,0, 0.2);
    border: 2px solid white;
    color: white;
    left:-2px;
    appearance: none;
    min-width: 100px;
    width: calc(25% - 4px);
    outline: 0;
    border-radius: 0 !important;
    font-size: 1.5rem;
    cursor: pointer;
}

.searchSuggestions{
    position: absolute;
    top:63px;
    background-color: #5892c0;
    width: 100%;    
    border: 2px solid white;
    min-width: 200px;
    flex-wrap:wrap;
    z-index: 3;
    display: none;
    box-shadow: 0 0 6px 3px rgba(0,0,0, 0.2);
    max-height: 300px;
    overflow-y: scroll;
    & .searchPill:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.activeFilters{
    width: 100%;    
    flex-wrap:wrap;
    min-width: 200px;
    z-index: 3;
    min-height: 40px;
}

.projectGallery{
    position: relative;
    top:-116.8px;
}

.backArrow{
    transform: rotate(180deg);
}

.searchPill{
    border-radius: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-family: "DIN Condensed";
    width: fit-content;
    padding:0.35rem 1rem 0.25rem 1rem;
    color: white;
    cursor: pointer;
    margin:0.3rem;
    line-height: 1.3;
}

.closeIcon{
    width: 15px;
    padding:3px;
    border-radius:10px;
    margin-left:4px;
    height: auto;
    &:hover {
        background-color: rgba(255, 0, 0, 0.7)
    }
}

.galleryError{
    display: none;
}